<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
      Total: 100 RMB
      <br>
	  <button ng-click="Query(vehicle)">Commit</button>
	  <button ng-click="Query(vehicle)">Reset</button>
    </div>
    <div class="span4">
      <ul class="phones">
        <li ng-repeat="component in components | filter:query | orderBy:orderProp" class="thumbnail phone-listing">
		  <table>
		  <tr>
	          <td><a href="#/component/{{component.id}}" class="thumb"><img ng-src="{{component.imageUrl}}"></a></td>
	          <td><a href="#/component/{{component.id}}">{{component.name}}</a></td>
	          <td>19.9 RMB</td>
	          <td><button ng-click="add()">Add</button></td>
          </tr>
          </table>
        </li>
      </ul>
    </div>
    <div class="span4">
		  
    </div>
  </div>
</div>