<p class="text-info">
    欢迎在养车DIY网站购物！提示：登录后有更好的购物体验！<br />
</p>

<table >
    <tr>
        <td><p class="text-info">用户名:</p></td>
        <td><input type="text" ng-model="user.name" /></td>
    </tr>
    <tr>
        <td><p class="text-info">密码:</p></td>
        <td><input type="password" ng-model="user.password" /></td>
    </tr>
    <tr>
        <td><button 
                class="btn btn-block btn-success" 
                ng-click="login()">
                登录
            </button></td>
        <td><a href="#/registry"><b>注册</b></a></td>
    </tr>
</table>
<p ng-show="err" class="error">{{err}}</p>